html, body {
    height: 100%;
    width: 100%;
    font-size: 16px;
    color: teal;
}

* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}


.app {
    width: 90%;
    margin: auto;
}

.app>h1{
    margin: 15px 0px;
    color: teal;
    
}

.roles{
    width: 60%;
}

.roles>*{
   width: 100%; 
}
.roles #roles {
    list-style: none;
    display: flex;
}

.roles #roles li {
    display: inline-block;
    flex:1;
    padding: 5px 15px;
    text-align: center;
    cursor: pointer;
    border-radius: 20px 20px 0% 0%;
    border: 2px solid teal;
    border-bottom: 1px solid teal;
    color:teal;
    font-weight: bold;
    font-size: small;
}

.roles #roles li.active{
    background: teal;
    color:white;
    border-bottom: -1px solid teal;
}
.roles #roles li:hover{
    background: teal;
    color:white;
}
.active-role {
    min-height: 450px;
    border: 2px solid teal;
    border-top:0px;
}

.container {
    display: flex;
}

.container aside{
    width: 35%;
    margin-left: auto;
}

.product-info, .validate-product {
    border: 2px solid teal;
    padding: 20px 10px;
    margin-bottom: 20px;
    border-radius: 20px;

}

.product-info h1, .validate-product h1{
    color:teal;
    margin-bottom: 10px;
}

button {
    border:0px;
    background: teal;
    color: white;
    padding: 10px;
    font-weight: bolder;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);

}

input, select, option{
    padding: 5px;
    
}

button:hover {
    transform: translate(1px, 1px);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.active-role>article {
    display: none;
}

.active-role>.active{
    display: block;
    padding: 20px;
}

label {
    font-weight: bold;
}

form[name^="add-remove-"] {
    padding-bottom: 20px;
    border-bottom:1px solid teal;
    margin-bottom: 20px;
}

form[name^="add-remove-"]~form {
    display: flex;
    flex-direction: column;
    margin:10px 0px;
    margin-bottom: 20px;
}

form[name^="add-remove-"]~form>* {
    margin: 5px 2px;
}

.status-output {
    margin-top:25px;
}

table {
    margin:10px 2px;
}

table thead {
    border:2px solid teal;
}
.smartphones-on-sale {
   border:1px solid teal;
}


.smartphones-on-sale td {
   font-size: small;
   padding: 10px;
   text-align: center;
   border-left:1px solid teal;
}

.smartphones-on-sale td:last-child {
    border-right: 1px solid teal;
}

#product-details, #product-traces {
    margin : 20px 1px;
    font-size: 14px;
}

#product-details p{
    display: flex;
    flex-direction: column;
    margin: 5px 0px;
}

#product-details p span {
    font-weight: lighter;
}